body{
    background-color: darkgreen;
  }

 h1 {
   text-align: center;
   font-size: 60px;
   color: pink;
 }

 h3 {
   text-align: center;
   margin: auto;
 }

 .container {
   display: flex;
   width:  40%;
   margin: auto;
 }

 #boardColors {
   display: flex;
}

 #buttons {
   margin-top: 5px;
 }

 #buttons * {
   margin-top: 5px;
 }

 .box {
   width: 30px;
   height: 30px;
   margin: 4px;
 }

 table {
   width: 400px;
 }

 .hint {
   text-align: center;
   font-size: 20pt;
 }

 #answer {
   margin-top: 10px;
 }
 .guessRow{
   background-color: pink;
 }

 .peg {
   width: 50px;
   height: 50px;

 }

 .red {
   background-color: red;
 }

 .blue {
   background-color: blue;
 }

 .green {
   background-color: lightgreen;
 }

 .white {
   background-color: white;
   color: black;
 }

 .yellow {
   background-color: yellow;
   color: black;
 }

 .purple {
   background-color: purple;
 }

 .orange {
   background-color: orange;
 }

 .black {
   background-color: black;
 }
